* {
    margin: 0;
    padding: 0;

}
.container {
    background-color: fff;
    padding:  0 10% 0 10%;
}
.top-header{
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
}

.left-header {
    display: flex;
    justify-content: space-evenly;
   
}
div.left-header * {
        padding-left: 20px;

}
.main-heading{
    text-align: center;
    margin-bottom: 2%;
}
.header-text{
    padding: 2%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 5;
    }

figcaption{
    color: rgb(90, 90, 90);
    padding-top: 2%;

}

.header-figure{
    padding-bottom: 2%;
}